* {
    box-sizing:border-box;
}
html {
    font-size: 2rem;

}
h1 {
    padding: auto;
}
div {
    background-color: ghostwhite;

}


@media all and (display-mode:fullscreen) {
    body{
        margin:0;
        border: 5px solid white;
        color: blueviolet;
        align-items: auto;
    }
}
@media only screen and (max-with: 650px) {
    body {
        max-width: fit-content;
        max-height: fit-content;
    }
    .column{
        width: 100%;
    }
    .header {
        height: 50%;
        }
}
            ul.topnav li.right,
            ul.topnav li {
                float: none;
            }
    h1 {
        display: inherit;
        justify-self: center;
        text-align: center;
        padding-right: 25%;
        /* font-family: ; */
        /* white-space: wrap;
        max-width: fit-content; */
    
       
    }
        .row {
            display: flex;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: stretch;
            grid-template: 10px;
            order: 6;
            height: 500px;
            width: 25%;
            text-align: center;
            align-self: flex-start;

            
        }
    .flex-container {
        display: flex;
    }
                                .row-2 {
                                    display: flex;
                                    display: inline-flex;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    align-items: stretch;
                                    grid-template: 10px;
                                    order: 6;
                                    height: 500px;
                                    width: 25%;
                                    text-align: center;
                                }
                                    
        header {
            display: flex;
            flex-direction: column;
                order: 1;
                align-items: stretch;
        }
                .nav--featured {
                    order: 1;
        
                }
        
                /* .nav--featured.div {
                    order: 0;
                } */
        
                .h1--featured {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 50%;
    
                }
 .row {
    display: inline-flex;
    flex-flow:column nowrap;
    flex-direction: column; 
    justify-content: space-evenly;
    align-content: space-between;
    gap: 5px;
    text-align: center;
} 
.column {
    order: 1;
    align-items: stretch;

}
.dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
    cursor: pointer;
    font-style: italic;
    font-family: fantasy;


}
h1 {
    display: inherit;
    justify-self: center;
    text-align: center;
    padding-left: 25%;
    font-family: fantasy ;
}
.dropbtn {
    display: inherit;
     /* float: left; */
            background-color: lavender;
            color: black;
            cursor: pointer;
            font-style: italic;
            font-family: fantasy;
         
        }
        a {
            display: block;
            padding: 5px;
            background-color: inherit;
            color: inherit;
            font-family: inherit;
        }
            .dropbtn:hover, .dropbtn:focus {
            background-color: lightgray;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .drop-content {
            display: list-item;
            position: absolute;
            background-color: whitesmoke;
        } 
     .dropdown-content a {
                color: black;
                display:block; 
     }
     .dropdown a hover {
            background-color: lightgray;
        } 
     .show {
        display: block;
    }  

    .canvas {
        border: 3px solid gray;
        background-color: lightgrey;
    }
/*     

/* The alert message box
.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}
*/ */
/* 
The close button
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
} */

/* When moving the mouse over the close button */
/* .closebtn:hover {
    color: black;
} */


/* Large rounded green border
hr.new5 {
    border: 10px solid green;
    border-radius: 5px;
} */