* {
    box-sizing:border-box;
    display: grid;
    /* border: 2px;
    border-color: red; */
    
}
   .grid {
       display: flex;
       flex-wrap: wrap;
       height: 100px;
       width: 100px; 
       /*grid-template-columns: auto;
       grid-template-rows: auto;  */
       background-color: red;
}
 /* body {
    grid-template-columns: 3;
    grid-template-rows: 3; 
    column-gap: 1px;
    row-gap: 1px;
    background-color: orange
    ;
}  */
/* html {
    font-size: 2rem;

} */
h1 {
    content: center;
    background-color: pink;
}
div {
    background-color: green
    ;
    display: revert;


}


@media all and (display-mode:fullscreen) {
    * {
        margin: 1px;  
        border: 1px solid white;
        color: blueviolet;
         background-color: yellow; 
    }
}
/* @media only screen and (max-with: 650px) {*/
    /* body {
        max-width: fit-content;
        max-height: fit-content;
        background-color: yellow;
    }  */
    /* .column{
        width: 100%; */
    
    /* .header {
        height: 50%;
        } */
    h1 {
        /* display: inherit; */
        /* justify-self: center; */
        text-align: center;
        white-space: wrap;

        /* max-width: fit-content; */
       
    }
         .grid {
            display: flex;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: stretch;
            grid-template: 10px;
            /* order: 1; */
            height: 100px;
            width: 100px;
            text-align: center;
            align-self: flex-start;

            
        }
    .flex-container {
        display: flex;
    } 
}
                                /* .row-2 {
                                    display: flex;
                                    display: inline-flex;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    align-items: stretch;
                                    grid-template: 10px;
                                    order: 6;
                                    height: 500px;
                                    width: 25%;
                                    text-align: center;
                                } */
                                    
        header {
            display: flex;
            flex-direction: column;
                order: 1;
                align-items: stretch;
        }
                .nav--featured {
                    order: 1;
        
                }
        
                /* .nav--featured.div {
                    order: 0;
                } */
        
                .h1--featured {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 50%;
    
                }
 .row {
    display: inline-flex;
    flex-flow:column nowrap;
    flex-direction: column; 
    justify-content: space-evenly;
    align-content: space-between;
    gap: 5px;
    text-align: center; 
    /* columns: 6;
    grid-row-start: auto 6;
    column-gap: 2;
    row-gap: 3; 
} 
.column {
    order: 1;
    align-items: stretch;

}
.dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
    cursor: pointer;
    font-style: italic;
    font-family: fantasy;


}
h1 {
    display: inherit;
    justify-self: center;
    text-align: center;
    padding-left: 25%;
    font-family: fantasy ;
}
.dropbtn {
    display: inherit;
     /* float: left; */
            background-color: lavender;
            color: black;
            cursor: pointer;
            font-style: italic;
            font-family: fantasy;
         
        }
        a {
            display: block;
            padding: 5px;
            background-color: inherit;
            color: inherit;
            font-family: inherit;
        }
            .dropbtn:hover, .dropbtn:focus {
            background-color: lightgray;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        /* .drop-content {
            display: list-item;
            position: absolute;
            background-color: whitesmoke;
        }  */
     /* .dropdown-content a {
                color: black;
                display:block; 
     } */
     .dropdown a hover {
            background-color: lightgray;
        } 
     .show {
        display: block;
    }  

    /* .canvas {
        border: 3px solid gray;
        background-color: lightgrey;
    } */
    .myDropDown {
        display: flex;
        align-items: center;
        background-color: silver;
        min-height: 10vh;

    }
    /* .myDropDown-links {
        display: flex;
        background-color: skyblue;
        justify-content: space-around;
        width: 25%;
    } */
    /* .dropDown-content {
        letter-spacing: 5px;
        font-size: 15px;
        background-color: whitesmoke;

        
    } */
    /* .dropDown-content a {
        background-color: ghostwhite;
        display: flex;
        flex-direction: column;

    } */
 




 /* The alert message box */
/* .alert {
    padding: 20px;
    background-color: #f44336 Red; 
    color: white;
    margin-bottom: 15px;
} */


/* The close button */
/* .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}  */

/* // When moving the mouse over the close button */ 
 /* .closebtn:hover {
    color: black;
}  */

