* {
    box-sizing:border-box;
    display: grid;
    align-content: space-evenly;
    align-items: stretch;
    justify-items: stretch;
    margin: 1px;
    border: 5px;
    padding: revert;
}
div {
    background-color:whitesmoke;
    inline-size: -webkit-fill-available;
    font-variant: tabular-nums;
}
    .flashC:after {
            content: "";
            display: table;
            clear: both;
        }
                .card {
                    width: 125px fit-content;
                    height: 125px ;
                    background: thistle;
                    margin: 10px 15px 10px 15px;
                    padding: auto;
                    align-items: stretch;  
                    text-align: center;
                }
    h1 {
        text-align: center;
        white-space: wrap;
        content: center;
        padding: 3rem 0 3rem 0;
        text-decoration: underline plum;

    }
    .grid-flashC {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 800px;
    width: inherit;
    height: 800px;
    width: inherit;
    background: linear-gradient(217deg,lightpink, whitesmoke 70.71%), linear-gradient(127deg,lightgray, thistle  70.71%), linear-gradient(336deg,lavender, plum 70.71%);
    border: 5px solid silver;
    color: black;
    cursor: pointer;
    font-style: italic;
    font-family: fantasy;
} 
h1 {
    background: linear-gradient(217deg, lightpink, whitesmoke 70.71%),
    linear-gradient(127deg, lightgray, thistle 70.71%),linear-gradient(336deg, lavender, plum 70.71%);
    justify-self: auto;
    text-align: center;
    font-family: fantasy ;
    border: 5px solid silver;
}
.dropbtn {
    display: inherit;
    background-color: lavenderblush;
    color: black;
    cursor: pointer;
    font-style: italic;
    font-family: fantasy;
    border: 5px solid silver;
}    
 .dropbtn:hover, .dropbtn:focus {
     background: linear-gradient(217deg, lightpink, whitesmoke 70.71%),linear-gradient(127deg, lightgray, thistle 70.71%), linear-gradient(336deg, lavender, plum 70.71%);
    }
    .dropDown-content {
        letter-spacing: 5px;
        font-size: 15px;
    } 
